@font-face {
  font-family: "New Spirit Condensed Regular";
  src: url("./fonts/NewSpirit-Regular-Condensed.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "New Spirit Condensed SemiBold";
  src: url("./fonts/NewSpirit-SemiBold-Condensed.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "New Spirit Condensed Bold";
  src: url("./fonts/NewSpirit-Bold-Condensed.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "New Spirit Condensed Light";
  src: url("./fonts/NewSpirit-Light-Condensed.otf");
  font-synthesis: none;
}

@font-face {
  font-family: "Maison Neue Book";
  src: url("./fonts/MaisonNeue-Book.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "Maison Neue Demi";
  src: url("./fonts/MaisonNeue-Demi.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "Maison Neue Bold";
  src: url("./fonts/MaisonNeue-Bold.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "Maison Neue Light";
  src: url("./fonts/MaisonNeue-Light.otf");
  font-synthesis: none;
}
